.subtlepattern {
	/*background: url("../img/creampaper.png");
	 background: url("../img/paper_fibers.png");*/

	background: url("../img/billie_holiday.png");
	/*background: url("../img/otis_redding.png");
	 background: url("../img/cream_dust.png");*/
}

@font-face {
	font-family: Open Sans;
	src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
	font-family: Open Sans;
	src: url("../fonts/open-sans/OpenSans-Light.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Open Sans;
	src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf");
	font-weight: bold;
}

body {
	font-family: 'Open Sans';
	font-weight: normal;
}

.main_menu {
	/*	border-bottom: 1px solid rgb(220, 220, 209); */
	font-family: 'Open Sans';
	letter-spacing: 0.05em;
}

/* override foundation's css stuff */
a {
	color: rgb(0, 0, 0);
}

.login {
	background: none repeat scroll 0% 0% rgb(48, 52, 57);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	display: inline-block;
	position: relative;
	padding: 0px;
	width: 100%;
	text-align: center;
	padding-top: 0.8125em;
	padding-bottom: 0.75em;
}

.login a {
	color: rgb(255, 255, 255);
}

ul.main_menu {
	list-style: none outside none;
	list-style-type: none;
	border-bottom: 1px solid rgb(220, 220, 209);
	border-top: 1px solid rgb(220, 220, 209);
}

.main_menu > li {
	display: inline-block; /* You can also add some margins here to make it look prettier */
	zoom: 1;
	*display: inline; /* this fix is needed for IE7- */
	padding-left: 14px;
	padding-right: 14px;
}

.main_menu_container {
	padding-right: 20;
	margin: 20px auto;
	padding: 5px;
}

.main_menu > li.selected {
	border-bottom: 2px solid rgb(0, 220, 255);
	border-top: 2px solid rgb(0, 220, 255);
}

.rectangular_panel {
	text-align: justify;
	border-radius: 15px 15px 15px 15px;
	padding: 10px;
	font-style: normal;
}

.rectangular_panel_light_blue {
	background-color: #0096d6;
	color: #0096d6;
	border-radius: 15px;
	padding: 10px;
}

.logo_img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.padding13 {
	padding: 13px;
}

h4.footer_category {
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-left: 16px;
	display: inline-block;
	margin-top: 7px;
}

a.home {
	background-color: #0096d6;
	background-image: -webkit-linear-gradient(top, #0096d6, #008ac6);
	background-image: -moz-linear-gradient(top, #0096d6, #008ac6);
	background-image: linear-gradient(top, #0096d6, #008ac6);
	width: 100px;
}

a.home:before {
	background-position: 0 -110px;
}

.logged_in_bar {
	font-weight: bold;
	font-size: 12px;
	padding: 3px 8px 1px 8px;
	height: 19px;
	background: #b0b0b0;
	border-radius: 5px;
	float: right;
	color: rgb(228, 228, 228) !important;
	background-color: #31353a;
	background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
	background-image: -moz-linear-gradient(top, #31353a, #2f3337);
	background-image: linear-gradient(top, #31353a, #2f3337);
}

div.logged_in_bar a {
	color: rgb(228, 228, 228) !important;
	font-size: 14px;
}

.header {
	color: #ccc;
	background-color: #31353a;
	background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
	background-image: -moz-linear-gradient(top, #31353a, #2f3337);
	background-image: linear-gradient(top, #31353a, #2f3337);
}
