.creampaper {
	background: url("../img/creampaper.png");
}
.paper_fibers {
	background: url("../img/paper_fibers.png");
}
.subtle_grunge {
	background: url("../img/subtle_grunge.png");
}
.otis_redding {
	background: url("../img/otis_redding.png");
}
.cream_dust {
	background: url("../img/cream_dust.png");
}

.rectangular_panel {
	background-color: #2A75A9;
	text-align: justify;
	color: #f4d6bc;
	border-radius: 15px 15px 15px 15px;
	padding: 10px;
	font-family: 'Anonymous Pro';
	font-weight: bold;
	font-style: normal;
}

.rectangular_panel_light_blue {
	background-color: #7EB5D6;
	color: #f4d6bc;
	border-radius: 15px 15px 15px 15px;
	padding: 10px;
	font-family: 'Anonymous Pro';
	font-weight: bold;
	font-style: normal;
}

.padding13 {
	padding: 13px;
}

h4.footer_category {
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-left: 16px;
	display: inline-block;
	margin-top: 7px;
}

a.home {
	background-color: #0096d6;
	background-image: -webkit-linear-gradient(top, #0096d6, #008ac6);
	background-image: -moz-linear-gradient(top, #0096d6, #008ac6);
	background-image: linear-gradient(top, #0096d6, #008ac6);
	width: 100px;
}

a.home:before {
	background-position: 0 -110px;
}

.logged_in_bar {
	font-weight: bold;
	font-size: 12px;
	padding: 3px 8px 1px 8px;
	height: 19px;
	background: #b0b0b0;
	border-radius: 5px;
	float: right;
	color: rgb(228, 228, 228) !important;
	background-color: #31353a;
	background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
	background-image: -moz-linear-gradient(top, #31353a, #2f3337);
	background-image: linear-gradient(top, #31353a, #2f3337);
}

div.logged_in_bar a {
	color: rgb(228, 228, 228) !important;
	font-size: 14px;
}

.header {
	color: #ccc;
	background-color: #31353a;
	background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
	background-image: -moz-linear-gradient(top, #31353a, #2f3337);
	background-image: linear-gradient(top, #31353a, #2f3337);
}
